@model HotelProject.Models.Reception

@{
    ViewBag.Title = "DepartureRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    decimal TotalPay = 0;

    if (Model.oSale != null)
    {
        foreach (HotelProject.Models.Sale v in Model.oSale)
        {
            foreach (HotelProject.Models.SaleDetail dv in v.oSaleDetail)
            {
                if (v.State_text == "Pending")
                {
                    TotalPay += dv.SubTotal;
                }
            }
        }
    }

    TotalPay += Model.RemainingPrice;
}

<input type="hidden" value="@Html.DisplayTextFor(model => model.ReceptionId)" id="txtidreception" />
<input type="hidden" value="@Html.DisplayTextFor(model => model.oRoom.RoomId)" id="txtidroom" />
<input type="hidden" value="@TotalPay" id="txttotal"/>
<div class="card shadow-sm">
    <div class="card-body p-3">
        <h6 class="card-title font-weight-bold text-primary">Room Summary</h6>
        <hr class="mt-1 mb-1" />
        <div class="form-row">
            <div class="col-md-3">
                <label class="form-text font-weight-bold mb-0">Number:</label>
                <label class="form-text">@Html.DisplayTextFor(model => model.oRoom.Number)</label>
            </div>
            <div class="col-md-3">
                <label class="form-text font-weight-bold mb-0">Details:</label>
                <label class="form-text">@Html.DisplayTextFor(model => model.oRoom.Details)</label>
            </div>
            <div class="col-md-3">
                <label class="form-text font-weight-bold mb-0">Category:</label>
                <label class="form-text">@Html.DisplayTextFor(model => model.oRoom.oCategory.Description_text)</label>
            </div>
            <div class="col-md-3">
                <label class="form-text font-weight-bold mb-0">Floor:</label>
                <label class="form-text">@Html.DisplayTextFor(model => model.oRoom.oHotelFloor.Description_text)</label>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <label class="form-text font-weight-bold mb-0">Customer:</label>
                <label class="form-text mb-0">@Html.DisplayTextFor(model => model.oPerson.PersonName) @Html.DisplayTextFor(model => model.oPerson.LastName)</label>
            </div>
            <div class="col-md-3">
                <label class="form-text font-weight-bold mb-0">Nro. Document:</label>
                <label class="form-text mb-0">@Html.DisplayTextFor(model => model.oPerson.Document)</label>
            </div>
            <div class="col-md-3">
                <label class="form-text font-weight-bold mb-0">Mail:</label>
                <label class="form-text mb-0">@Html.DisplayTextFor(model => model.oPerson.Mail)</label>
            </div>
            <div class="col-md-3">
                <label class="form-text font-weight-bold mb-0">Entry date:</label>
                <label class="form-text mb-0">@Html.DisplayTextFor(model => model.EntryDateText)</label>
            </div>
        </div>
    </div>
</div>

<div class="card shadow-sm mt-2">
    <div class="card-body p-3">
        <h6 class="card-title font-weight-bold text-primary">Accommodation Cost</h6>
        <hr class="mt-1 mb-1" />
        <div class="form-row">
            <div class="col-md-3">
                <label class="form-text font-weight-bold">Room Cost:</label>
                <input type="number" class="form-control form-control-sm" id="validationCustom01" value="@Html.DisplayTextFor(model => model.StartingPrice)" disabled="disabled">

            </div>
            <div class="col-md-3">
                <label class="form-text font-weight-bold">Advance Amount:</label>
                <input type="number" class="form-control form-control-sm" id="validationCustom01" value="@Html.DisplayTextFor(model => model.Advancement)" disabled="disabled">
            </div>
            <div class="col-md-3">
                <label class="form-text font-weight-bold">Remaining amount:</label>
                <input type="number" class="form-control form-control-sm" id="validationCustom01" value="@Html.DisplayTextFor(model => model.RemainingPrice)" disabled="disabled">
            </div>
            <div class="col-md-3">
                <label class="form-text font-weight-bold">Penalty Cost:</label>
                <input type="number" class="form-control form-control-sm" id="txtcostpenality" value="0">
            </div>
        </div>
    </div>
</div>

<div class="card shadow-sm mt-2">
    <div class="card-body p-3">
        <h6 class="card-title font-weight-bold text-primary">Room service</h6>
        <hr class="mt-1 mb-2" />
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Product</th>
                            <th>Amount</th>
                            <th>Unit price</th>
                            <th>Sale Status</th>
                            <th>Sub Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.oSale != null)
                            {

                                foreach (var sale in Model.oSale)
                                {
                                    foreach (var saledetail in sale.oSaleDetail)
                                    {
                                        <tr>
                                            <td>@saledetail.oProduct.ProductName</td>
                                            <td>@saledetail.Amount</td>
                                            <td>@saledetail.oProduct.Price</td>
                                            <td>
                                                @{
                                                    if (sale.State_text == "Cancelled")
                                                    {
                                                        <span class="badge badge-success p-2">@sale.State_text</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-danger p-2">@sale.State_text</span>
                                                    }
                                                }

                                            </td>
                                            <td>@saledetail.SubTotal</td>
                                        </tr>
                                    }
                                }

                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">
                                        <div class="alert alert-secondary border-0" role="alert">
                                            No records found
                                        </div>
                                    </td>
                                </tr>

                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card shadow-sm mt-2">

    <div class="card-body">
        <div class="row justify-content-end">
            <div class="col-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Total to pay</label>
                    </div>
                    <input type="text" class="form-control bg-white" id="txttotalpay" disabled="disabled" value="@TotalPay">
                </div>
            </div>
            <div class="col-2">
                <button id="btnendreception" class="btn btn-primary btn-block" type="button">End Reception</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $("#txtcostpenality").keyup(function () {

            var ct = parseFloat($("#txtcostpenality").val() == "" ? "0" : $("#txtcostpenality").val() )
            var total = parseFloat($("#txttotal").val()) + ct;
            $("#txttotalpay").val(parseFloat(total).toFixed(2))
        });

        //FIX End Registration button
        $("#btnendreception").on("click", function (e) {

            var request = {
                obj: {
                    ReceptionId: $("#txtidreception").val(),
					oRoom: { RoomId: $("#txtidroom").val()},
					TotalPaidText: $("#txttotalpay").val(),
					PenaltyCostText: $("#txtcostpenality").val() == "" ? "0" : $("#txtcostpenality").val(),
                }
            }

            
            jQuery.ajax({
                url: '@Url.Action("CloseReception", "Management")',
                type: "POST",
                data: JSON.stringify(request),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.result) {
                        swal("Ready", "The departure was recorded", "success").then((value) => {
                                 window.location = '@Url.Action("Exit", "Management")';
                            });
                    } else {
                        swal("We are sorry", "Could not exit", "warning");
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                },
            });

        })

    </script>
    
}